/Listas/*
/OrdenDeCorreosCESS/BaseDatos.csv
/OrdenDeCorreosCESS/MoodleListaDocencia.csv
/OrdenDeCorreosCESS/registroNuebo.csv
/OrdenDeCorreosCESS/usersGmail*
/OrdenDeCorreosCESS/b*
/OrdenDeCorreosCESS/test/*
/OrdenDeCorreosCESS/nbproject/*
/Registro/database/